<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @payment.account_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @payment.payment_date %>
</p>

<p>
  <strong>Confirmation number:</strong>
  <%= @payment.confirmation_number %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
